# Copie este arquivo para .env e preencha com seus dados

# Conexão com o banco PostgreSQL
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL="postgresql://postgres:2005localhost:5432/futreserva"

# Chave secreta para gerar os tokens JWT (pode ser qualquer texto longo)
JWT_SECRET="futreserva_chave_secreta_2025"

# Porta do servidor backend
PORT=3001
